// Sobreescribir la imagen de fondo del login-card con video
.login-card {
  background: none !important; // Quitar la imagen de fondo
  position: relative;
}

.login-video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
