@if(currentUser) {
<div class="col-sm-12">
  <div class="card hovercard text-center common-user-image">
    <div class="cardheader">
      <div class="user-image">
        <div class="avatar">
          <div class="common-align">
            <div>
              @if(user.user_profile){
              <img [src]="user.user_profile" alt="Profile Image" id="output" />
              } @else {
              <img src="assets/images/user/default-profile.png" alt="Default Profile" id="output"
                style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" />
              }
              <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden />
              <div class="icon-wrapper" id="cancelButton" (click)="removeProfile()" title="Eliminar imagen">
                <i class="icofont icofont-error"></i>
              </div>
              <div class="icon-wrapper" (click)="fileInput.click()" title="Cambiar imagen">
                <i class="icofont icofont-pencil-alt-5"></i>
              </div>
            </div>
            <div class="user-designation"><a target="_blank" href="">{{ UserData.EMPLEADO_NOMBRE }}</a>
              <div class="desc">{{ UserData.EMPLEADO_PUESTO }}</div>
            </div>
          </div>
          <div class="follow d-none">
            <div>
              <div class="follow-num counter">{{ currentUser.followers }}</div><span>Follower</span>
            </div>
            <div>
              <div class="follow-num counter">{{ currentUser.following }}</div><span>Following</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card user-bio">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <div class="ttl-info text-start">
            <h6>
              <i class="fa-solid fa-user-tie pe-2"></i> Bio
            </h6><span class="mb-sm-3">{{ UserData.EMPLEADO_NOMBRE }}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start">
            <h6><i class="fa-solid fa-envelope pe-2"></i> Email</h6><span>{{ UserData.email_sgo }}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start">
            <h6><i class="fa-solid fa-calendar-days pe-2"></i>Departamento</h6><span>{{
              UserData.EMPLEADO_DEPARTAMENTO_NOMBRE }}</span>
          </div>
        </div>
        <div class="col-12 d-none">
          <div class="common-flex justify-content-center">
            <div class="social-media" data-intro="This is your social details">
              <ul class="list-inline">
                @for(option of socialShareOptions; track option) {
                <li class="list-inline-item" placement="top" [ngbTooltip]="option.name">
                  <a [href]="option.link" target="_blank">
                    <i [class]="option.icon"></i>
                  </a>
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
No User Found
}