<div class="container-fluid customer-order-wrapper">
    <div class="row">
        <div class="col-12">
            <app-card [headerTitle]="'Parámetros'" [cardClass]="'mb-4'">


                <div class="col-md-6">

                    <div class="mb-3">
                        <label class="form-label">Fecha</label>
                        <div class="input-group">
                            <input type="number" value="0" class="form-control">
                        </div>
                    </div>

                </div>


            </app-card>
        </div>
    </div>
</div>