.dobra-column {
  background-color: #fff3cd !important;
  font-weight: bold;
  color: #856404;
  text-align: center;
}

.table-dark .dobra-column {
  background-color: #ffc107 !important;
  color: #000;
}