<div class="container-fluid customer-order-wrapper">
    <div class="row">
        <div class="col-12">
            <app-card [headerTitle]="'Tipos de Obligación'" [cardClass]="'mb-4'">

                <div class="mb-2 d-flex justify-content-between align-items-center">
                    <span class="fw-semibold">Listado de tipos de obligación</span>
                    <button class="btn btn-sm btn-outline-primary" type="button" (click)="agregarTipoObligacion()">
                        + Agregar tipo de obligación
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                        <thead class="">
                            <tr>
                                <th>Nombre</th>
                                <th style="width: 200px;">Cuenta Debe</th>
                                <th style="width: 200px;">Cuenta Haber</th>
                                <th style="width: 200px;">Cuenta Gasto</th>
                                <th style="width: 200px;">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tiposObligaciones">
                                <td>
                                    <input type="text " class="form-control fw-semibold" [(ngModel)]="item.nombre">
                                </td>
                                <td>
                                    <input type="text" class="form-control fw-semibold" [(ngModel)]="item.cuentaDebe">
                                </td>
                                <td>
                                    <input type="text" class="form-control fw-semibold" [(ngModel)]="item.cuentaHaber">
                                </td>
                                <td>
                                    <input type="text" class="form-control fw-semibold" [(ngModel)]="item.cuentaGasto">
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="borrarTipoObligacion(item)">
                                        Borrar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <button class="btn btn-success" (click)="guardarCuentasObligaciones()">
                        <span>Guardar cuentas</span>
                    </button>
                </div>

            </app-card>
        </div>
    </div>
</div>