<div class="container-fluid customer-order-wrapper">
    <div class="row">
        <div class="col-12">
            <app-card [headerTitle]="''" [cardClass]="'mb-4'">

                <div class="row mb-3" *ngIf="canCreateFolder">
                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nombre de la nueva carpeta" [(ngModel)]="newFolderName" />
                            <div class="input-group-append ms-4">
                                <button class="btn btn-primary" type="button" (click)="createFolder()">Crear carpeta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <button *ngIf="isAdmin && !showFoldersPanel" class="btn btn-outline-secondary" (click)="goBackToDepartments()">← Volver a departamentos</button>
                </div>

                <div class="customer-order-report table-responsive custom-scrollbar">
                    <div class="row">
                        <div class="col-md-4" *ngIf="showFoldersPanel">
                            <div class="mb-3">
                                <h6>Carpetas</h6>
                                <div class="p-3" *ngIf="folders.length === 0">No hay carpetas.</div>
                                <ul class="list-group" *ngIf="folders.length > 0">
                                    <li *ngFor="let folder of folders" class="list-group-item d-flex align-items-center" [class.active]="selectedFolder === folder.path" style="cursor:pointer;" (click)="selectFolder(folder.path)">
                                        <div class="flex-grow-1 text-truncate" [title]="folder.name">
                                            <i class="fa fa-folder me-2"></i> {{ folder.name }}
                                        </div>
                                        <div class="text-muted small">{{ (filesMap[folder.path]?.length || 0) }} archivos</div>
                                        <div>
                                            <button class="btn btn-sm p-0" type="button" (click)="deleteFolder($event, folder.path)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div [ngClass]="showFoldersPanel ? 'col-md-8' : 'col-md-12'">
                            <div class="mb-3">
                                <h6 *ngIf="!selectedFolder">Archivos</h6>
                                <h6 *ngIf="selectedFolder">Archivos en: <small class="text-primary">{{ selectedFolderName }}</small></h6>

                                <div *ngIf="!selectedFolder" class="p-3 text-muted">Selecciona una carpeta a la izquierda para ver su contenido.</div>

                                <div *ngIf="selectedFolder">
                                    <app-table [hasCheckbox]="false" [tableConfig]="filesTableConfig" [pageSize]="10" [paginateDetails]="true" [selectedRows]="true" [downloadReports]="false" [customButtons]="customButtons" (action)="onFileTableAction($event)" (customAction)="onCustomAction($event)">
                                    </app-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>